.your-event {
    margin-right: 20px;
    margin-bottom: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}

.event-table {
    margin-left: 15px;
    margin-top: 5px;
    border-spacing: 20px;
    border-collapse: separate;
}