.create-container {
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 50px;
}

.input-box {
    width: 80%;
    margin: 15px;
}

.create-button {
    margin: 80px;
}

.create-heading {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.create-link {
    color: white;
}

.create-link:link {
    text-decoration: none;
}

.create-link:visited {
    text-decoration: none;
}

.create-link:hover {
    text-decoration: none;
}

.create-link:active {
    text-decoration: none;
}