.jumbotron {
    background-image: url('../../images/lukas-blazek-f-TWhXOrLiU-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    max-width: 1440px;
}