.nav-padding {
    padding-right: 100px;
    font-weight: bold;
}

.navbar {
    margin-bottom: 60px;
    background-color: rgb(231, 234, 240);
}

.loggin-user {
    font-size: 20px;
    color: green;

}
.loggin-user:link {
    text-decoration: none;
  }
  
  .loggin-user:visited {
    text-decoration: none;
}
  
.loggin-user:hover {
    text-decoration: none;
}
  
.loggin-user:active {
    text-decoration: none;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    /* right: 50%; */
    transform: translatex(-50%);
    text-align: center;
    font-size: 30px;
}